body {
    background-color: #262626; /* Grey15 background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

p {
    font-size: 24px;
    color: #ff6f61;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #ff6f61, #ffcc2f, #8ec6ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: text-glow 2s ease-in-out infinite;
    margin: 10px;
}

@keyframes text-glow {
    0% {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 10px #ff6f61, 0 0 20px #ffcc2f, 0 0 30px #8ec6ff;
    }
    50% {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 20px #ff6f61, 0 0 30px #ffcc2f, 0 0 40px #8ec6ff;
    }
    100% {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 10px #ff6f61, 0 0 20px #ffcc2f, 0 0 30px #8ec6ff;
    }
}

.code-container {
    background-color: #1e1e1e;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    color: #dcdcdc;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    max-width: 90%;
    word-wrap: break-word;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Restrict max width */
    padding: 5px;
    background: linear-gradient(to right, red, green, blue);
}

.square-image {
    width: 100%;
    max-width: 100%; /* Match container width */
    height: auto;
    object-fit: cover;
    border: 2px solid transparent;
}

@media (max-width: 600px) {
    p {
        font-size: 20px;
    }

    .square-image {
        max-width: 100%; /* Ensure it adapts on smaller screens */
    }

    .image-container {
        max-width: 200px; /* Resize container for smaller screens */
    }
}
.github-container {
    text-align: center;
    margin-top: 20px;
}

.github-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.github-link:hover {
    background-color: #555;
    transform: scale(1.05);
}

.github-link:hover .github-logo {
    transform: rotate(360deg);
}
